body {
    font-family: Arial, sans-serif;
    background: #f5f7fb;
    margin: 0;
    padding: 40px;
    text-align: center;
}

h1 {
    font-size: 32px;
    margin-bottom: 30px;
}

form {
    margin-bottom: 30px;
}

input {
    width: 450px;
    padding: 14px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

button {
    padding: 14px 25px;
    margin-left: 8px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.video-card {
    width: 700px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 12px;
    text-align: left;
}

.video-card img {
    width: 320px;
    border-radius: 8px;
}

.video-card h3 {
    font-size: 20px;
}

.video-card p {
    line-height: 1.5;
}

.video-card a {
    text-decoration: none;
    font-weight: bold;
}
.recommendation-label {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 12px;
    border-radius: 6px;
    font-size: 13px;
    font-weight: bold;
    background: #eeeeee;
}
.watch-button {
    display: inline-block;
    padding: 10px 18px;
    margin-top: 10px;
    border-radius: 7px;
    text-decoration: none;
    font-weight: bold;
    background: #eeeeee;
}
.subtitle {
    font-size: 17px;
    margin-top: -20px;
    margin-bottom: 25px;
}
.video-card iframe {
    display: block;
    width: 100%;
    max-width: 560px;
    height: 315px;
    margin: 15px auto;
    border-radius: 8px;
}
.recommendation-info {
    margin-top: 15px;
    padding: 12px;
    border-radius: 8px;
    background: #f0f2f5;
}

.recommendation-info p {
    margin: 8px 0;
}

.score,
.timestamp {
    font-weight: bold;
}
.timestamp-button {
    padding: 10px 16px;
    margin-top: 8px;
    border: none;
    border-radius: 7px;
    font-size: 14px;
    font-weight: bold;
    cursor: not-allowed;
}