<!DOCTYPE html>
<html>
<head>
    <title>Educational Video Recommendation System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <h1>Educational Video Recommendation System</h1>

    <form method="POST">
        <input
            type="text"
            name="query"
            placeholder="Enter a topic you want to learn"
            required
        >

        <button type="submit">Search</button>
    </form>

    {% if query %}
        <h2>Candidate Videos for: {{ query }}</h2>

        {% for video in videos %}
            <div class="video-card">

                <img
                    src="{{ video.thumbnail }}"
                    width="320"
                >

                <h3>{{ video.title }}</h3>

                <p><strong>Channel:</strong> {{ video.channel }}</p>

                <p>{{ video.description }}</p>

                <a
                    href="https://www.youtube.com/watch?v={{ video.video_id }}"
                    target="_blank"
                >
                    Watch Video
                </a>

            </div>

            <hr>
        {% endfor %}
    {% endif %}

</body>
</html>